body{
  margin-top:250px;
  background:url("http://weknowyourdreams.com/images/cloud/cloud-08.jpg");  
  color: #383838;
}
.marg{
  margin:100px;
}
.btn{
  font-weight: bold;
  color: #000000;
  border:#383838 3px solid;
  border-radius:5px;
}