body{
  margin-top:250px;
  background:url("http://weknowyourdreams.com/images/cloud/cloud-08.jpg");  
  color: #383838;
}
.marg{
  margin:100px;
}
.btn{
  color: #383838;
  border-color:#000000;
  border-radius:5px;
}